
 
            <div class="card-player">
              <div class="card-player-content">
                <%= image_tag player.team.icon %>
                <div class="card-player-title">
                  <%= player.first_name %><span> <%= player.last_name %></span></p>
                </div>
                <div class="player-rating">
                 8.4 <i class="fas fa-star"></i>
                </div>
              </div>
            </div>

        