<h1>Lineup</h1>

<% @line_up.selections.each do |selection| %>
<%= render "players_modale", selection: selection %>
<% end %>


<%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  <%= link_to "Players modal", players_modal_path(@line_up, players: @players), remote: true %>
<%# </button> %>





