<div class="container-card-ranking">
  <div class="card-ranking">
    <div class="card-ranking-user">
      <p><%= participation.user.nickname %></p>
    </div>
    <div class="card-ranking-score">
     <p><%= participation.score %> pts</p>
    </div>
  </div>
</div>
<!-- render 'shared/card_ranking' -->
