<div class="container-navbar">
  <div class="main-navbar">
    <%= link_to "#" do %><div><i class="fas fa-tshirt"></i></div><% end %>
    <%= link_to "#" do %><div><i class="fas fa-trophy"></i></div><% end %>
    <%= link_to "#" do %><div><i class="fas fa-book"></i></div><% end %>  
    <%= link_to destroy_user_session_path, method: :delete do %><div><i class="fas fa-user-cog"></i></div><% end %> 
  </div>
</div>