<div class="home-page-container">
  <div class="home-page-btn">
    <nav class="layer">
      <ul>
        <li> <%= link_to "ligues", ligues_path, class: "button-large text-center" %></li>
          <li> <%= link_to "sign-in", new_user_session_path, class: "button-large text-center" %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %><div><i class="fas fa-user-cog button-large text-center"></i></div><% end %></li>
        </ul>
      </nav>
    </div>
  </div>

  <section class="home page layer">
    <h1><span>3ème</span><br> Mi-Temps</h1>
    <h2>Le jeu officiel de la 3ème mi-temps du Rugby <em>(après le ventriglisse)</em> !</h2>
    <%= image_tag "beer_rugby.png" %>
  </section>
