
<div class="home-page-container">
  <div class="home-page-btn">
    <%= link_to "ligues", ligues_path, class: "button-large text-center" %>
    <%= link_to "sign-in", new_user_session_path, class: "button-large text-center" %>
  </div>
</div>
