<div class="main-container">
  <div class="top-view">
    <div class="top-view-title">
      <h1>Mes <br>Ligues</h1>
    </div>
    <div class="top-view-content-flex">
      <%= link_to "Créer une ligue", new_ligue_path, class:"button-white" %>
      <%= link_to "Rejoindre une ligue", "#", class:"button-outlined" %>
    </div>
  </div>
  
  <div class="languette-container">
    <% @ligues.each do |ligue| %>
      <% if ligue.user == current_user || ligue.participations.each {|participation| participation.user_id == current_user.id} %>
        <%= render 'shared/card-ligue', ligue: ligue %>
      <% end %>
    <% end %>

  </div>
  <%= render 'shared/navbar' %>
</div>



