    <%= @ligue.name %> </strong> </div>
              <p><strong> <%= @ligue.description %> </strong> </p>
              <p>Photo: <strong>   <%= cl_image_tag @ligue.photo.key, height: 325, width: 150%> </strong> </p>




