<div class="main-container">
  <div class="top-view">
    <div class="top-view-title">
      <h1>Règles:</h1>
    </div>
    <div class="top-view-content">
      <div class="top-view-content-main">
        <div class="top-view-content-trophee">
          <%= image_tag "beer_rugby.png" %>
        </div>
      </div>
    </div>
  </div>

  <div class="languette-container">
    <div class="container">
      <div class="container-rules">
        <p>La première règle de la 3MT est : il est interdit de parler de la 3MT.</p>
        <p>La seconde règle de la 3MT est : il est interdit de parler de la 3MT.</p>
        <p>Troisième règle de la 3MT : quelqu'un crie stop, quelqu'un s'écroule ou n'en peut plus, c'est qu'il a trop bu.</p>
      </div>
    </div>
     <%= render 'shared/navbar' %>
  </div>
