.container-card-ranking {
  padding: 0px 20px;
}

.card-ranking {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  & p {
    font-size: 18px;
    font-weight: 700;
    margin: 2px 0px;
  }
}

.trait {
  width: 100%;
  margin: auto;
  border-bottom: 2px solid #cfcfd873;
  position: absolute;
  left: 0;
}
