.languette-container {
    // overflow: scroll;
    width: 100%;
    min-height: 80vh;
    left: 0px;
    bottom: 9vh; 
    padding-top: 20px;
    background-color: white;
    border-radius: 42px 42px 0px 0px;
}

.languette-header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.languette-container-title {
    font-size: 22px;
    font-weight: 700;
}

.budget {
    font-size: 22px;
    font-weight: bold;
    & i {
        color: #ECC10B;
    }
}