.terrain {
    height: 650px;
    width: 100%;
    margin-top: 15px;
    background-image: asset-url('rugby-ground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Player line_up#show */

.player-lineup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    & img {
        height: 80px;
    }
    & p {
        font-size: 10px;
        font-weight: 700;
        color: white;
    }
}

.player-position-1 {
    position: relative;
    top: 35px;
    left: 18px;
}
.player-position-2 {
    position: relative;
    top: -75px;
    left: 137px
}
.player-position-3 {
    position: relative;
    top: -186px;
    left: 254px;
}
.player-position-4 {
    position: relative;
    top: -218px;
    left: 74px;
}
.player-position-5 {
    position: relative;
    top: -329px;
    left: 197px;
}
.player-position-6 {
    position: relative;
    left:18px;
    top: -361px;
}
.player-position-7 {
    position: relative;
    left:254px;
    top: -472px;
}
.player-position-8 {
    position: relative;
    left: 137px;
    top: -583px;
}
.player-position-9 {
    position: relative;
    left: 74px;
    top: -611px;
}
.player-position-10 {
    position: relative;
    left: 197px;
    top: -724px;
}
.player-position-11 {
    position: relative;
    top: -743px;
}
.player-position-12 {
    position: relative;
    top: -854px;
    left: 90px;
}
.player-position-13 {
    position: relative;
    top: -964px;
    left: 182px;
}
.player-position-14 {
    position: relative;
    top: -1076px;
    left: 270px;
}
.player-position-15 {
    position: relative;
    top: -1101px;
    left: 136px;
}



.player-position-1-ligue-show {
  position: relative;
  top: 44px;
  left: 8px;
}
.player-position-2-ligue-show {
  position: relative;
  top: -54px;
  left: 111px;
}
.player-position-3-ligue-show {
  position: relative;
  top: -154px;
  left: 214px;
}
.player-position-4-ligue-show {
  position: relative;
  top: -155px;
  left: 55px;
}
.player-position-5-ligue-show {
  position: relative;
  top: -254px;
  left: 165px;
}
.player-position-6-ligue-show {
  position: relative;
  top: -264px;
  left: 8px;
}
.player-position-7-ligue-show {
  position: relative;
  top: -363px;
  left: 214px;
}
.player-position-8-ligue-show {
  position: relative;
  top: -462px;
  left: 111px;
}
.player-position-9-ligue-show {
  position: relative;
  top: -464px;
  left: 55px;
}
.player-position-10-ligue-show {
  position: relative;
  top: -563px;
  left: 165px;
}
.player-position-11-ligue-show {
  position: relative;
  top: -572px;
  left: -6px;
}
.player-position-12-ligue-show {
  position: relative;
  top: -671px;
  left: 77px;
}
.player-position-13-ligue-show {
  position: relative;
  top: -770px;
  left: 160px;
}
.player-position-14-ligue-show {
  position: relative;
  top: -869px;
  left: 243px;
}
.player-position-15-ligue-show {
  position: relative;
  top: -873px;
  left: 113px;
}
