.top-view {
    color: white;
    background-color: $green;
    min-height: 28vh;
    padding: 20px 15px 10px 15px;

    & h1 {
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}

.top-view-title {
    height: 40%;
    margin-top: 2%;
    margin-left: 2%;
}

.top-view-content-flex {
    height: 40%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-view-content {
    height: 24%;
    display: flex;
    align-items: center;
    & img {
        height: 100px;
        margin-right: 10px;
    }
}

.top-view-content-trophee i {
    font-size: 50px;
    color: #FFDE00;
    opacity: 0.8;
    margin-right: 10px;
}

.top-view-content-position {
    margin-top: 20px;

    & h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    }
    & span {
        font-weight: lighter;
    }
}

.top-view-content-main {
    display: flex;
    align-items: center;
}